.wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
}

.icon {
  margin: 0 14px 0 14px;
  font-size: 1.5em;
  color: #828282;
}

.icon:hover {
  cursor: pointer;
  color: #49a246;
}
